part of "constants.dart";

const _backendURL = "http://localhost:3333";
const _vapidToken = "";
const _firebaseOptions = FirebaseOptions(
  apiKey: "",
  appId: "",
  messagingSenderId: "",
  projectId: "",
);
