part of "constants.dart";

const _backendURL = "$backendURL";
const _vapidToken = "$vapidToken";
const _firebaseOptions = FirebaseOptions(
  apiKey: "$apiKey",
  appId: "$appId",
  messagingSenderId: "$messagingSenderId",
  projectId: "$projectId",
);
